body
{
    background-color: #000;
    color: #fff;
    text-align: center;
    

}

h1
{
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 6rem;
    margin: 50px;
}


.icon
{
    margin: 30px 5vw 30px 5vw;
    width: 5vw;
}

.icon:hover
{
    opacity: 0.5;
}