*
{
  padding:0;
  margin: 0%;
}
body {
  background-color: #000;
  color: #fff;
  text-align: center;
}


h1 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
  font-size: 4.8rem;
  margin: 40px;
}

#search:focus {
  outline: none;
}

#search-bar
{
  margin: auto;
  background-color: white;
  width: 600px;
  border-radius: 2rem;
  border: 4px solid #D4D4D4;

}
/* 
#search-form{
  width:800px; 
  margin:0px auto;
} */

#search{
  width: 90%;
  padding: 15px 20px 9.5px 20px;
  margin: 3px 0px;
  display: inline-block;	
  box-sizing: border-box;
font-size:1.3rem;
border-radius: 24px;
border: none;
}



#search-btn {
  background-color: #fff;    
  padding: 20px 20px 20px 20px ;
  margin: 10px 0px;
  border: 2px solid #DEDEDE;	
  padding: 10px;  
  cursor: pointer;
  width: 10%;
  border-radius: 16px;
  height: 3rem;
  
}

#search-btn:hover {
   background-color: #D4D4D4  ;

}

#quote{
  font-size: 1rem;
  max-width: 50%;
  margin: 20px auto 50px auto;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  opacity: 50%;
}

.icon {
  margin: 35px 10px;
  width: 50px;
}

.icon:hover {
  opacity: 0.5;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  margin: 9px auto 0 auto;
}

.grid-item {
  flex: 0 0 calc(16.66% - 20px);
  margin: 0 20px;
}

* {
  box-sizing: border-box;
}

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    left: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 40px;
    width: 200px;  
}

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
    transition: all 0.5s ease;
}

/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font-family: inherit;
    font-size: large;
    color: black;
    text-decoration: none;
    margin-bottom: 10px; 
    
    /* Make the link cover the entire list item-container */
    display: block; 
    line-height: 40px;
    cursor: pointer;
}

#settings{
  color: white;
}

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 280px;
    list-style: none;
    padding: 0;
    margin: 10px 0px;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.second-level-menu > li
{
    position: relative;
    height: 40px;
    /* background: #f9f9f9;
    color: black; */
}

.bgcolor, .search-engine, #fonts,  #third-level-menu{
  width: 280px;
  height: 40px;
  font-size: large;
  border: 0px;
  text-align: center;
  left: 0px;
  position: absolute;
  top: 0;
  right: -150px;
  list-style: none;
  padding: 0.45rem 4.4rem;
  margin: 0;
  cursor: pointer;
}

#third-level-menu > option
{
    height: 40px;
    background: #212529;
    color: #fff;
    position: relative;
    border: 0px;
}

select {
  font-size: large;
  padding: 2px 0px;
  height: 40px;
  border: 0px;
  cursor: pointer;
  left: 0px;
}

.color:hover > ul{
  display: inline;
}

.bgcolor{
  padding: 0.45rem;
  display: none;
}

.date
{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  right: 100px;
}

.top-level-menu  li ul li, .second-level-menu li a, option, li ul li select, #third-level-menu {
  color: #fff;
  background: #212529;
  border-radius: 3px;
}

.second-level-menu li a:hover, #fonts:hover, .search-engine:hover, #third-level-menu:hover
{ 
  color: #000;
  background: #fff;
  border: solid #6c757d; 
}

li, li select option, li select {
  font-family: 'Overpass', sans-serif;
}