body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-weight: normal;
  font-size: 4.8rem;
  margin: 50px;
}

#quote{
  font-size: 1rem;
  max-width: 50%;
  margin: 20px auto 50px auto;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  opacity: 50%;
}

.icon {
  margin: 30px 10px;
  width: 50px;
}

.icon:hover {
  opacity: 0.5;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  margin: 75px auto 0 auto;
}

.grid-item {
  flex: 0 0 calc(16.66% - 20px);
  margin: 0 20px;
}

* {
  box-sizing: border-box;
}
