body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-weight: normal;
  font-size: 4.8rem;
  margin: 40px;
}

#search-form{
  width:800px; 
  margin:0px auto;
}

#search{
  width: 75%;
  padding: 15px 20px 9.5px 20px;
  margin: 10px 0px;
  display: inline-block;
  border: 2px solid red;	
  box-sizing: border-box;
font-size:16px;
}

#search:hover {
 background-color: #EEDDDA;
}

#search-btn {
  background-color: #fff;    
  padding: 20px 20px 20px 20px ;
  margin: 10px 0px;
  border: 2px solid red;	
  padding: 10px;  
  cursor: pointer;
  width: 10%;
}

#search-btn:hover {
   background-color: #AEEEE8;
}

#quote{
  font-size: 1rem;
  max-width: 50%;
  margin: 20px auto 50px auto;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  opacity: 50%;
}

.icon {
  margin: 35px 10px;
  width: 50px;
}

.icon:hover {
  opacity: 0.5;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  margin: 9px auto 0 auto;
}

.grid-item {
  flex: 0 0 calc(16.66% - 20px);
  margin: 0 20px;
}

* {
  box-sizing: border-box;
}
