body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Righteous', cursive;
  font-weight: normal;
  font-size: 6rem;
  margin: 50px;
}
.logo {
  margin-top: 40px;
}
#usr-btn {
  background-color: transparent;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 1.5rem;
}
#usr-input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 25vw;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  outline: none;
}
